# Firecrawl API Key
# Get your API key from: https://www.firecrawl.dev/
FIRECRAWL_API_KEY=fc-YOUR_API_KEY_HERE

# AI Provider: 'groq' or 'azure'
AI_PROVIDER=groq

# Groq API Key
# Get your API key from: https://console.groq.com/keys
GROQ_API_KEY=gsk_YOUR_GROQ_API_KEY_HERE

# Azure: get your API and configs from: https://portal.azure.com/ or https://ai.azure.com/
AZURE_OPENAI_API_KEY=YOUR_AZURE_OPENAI_API_KEY_HERE
AZURE_OPENAI_RESOURCE_NAME=YOUR_AZURE_OPENAI_RESOURCE_NAME
AZURE_OPENAI_DEPLOYMENT_NAME=YOUR_AZURE_OPENAI_DEPLOYMENT_NAME
AZURE_OPENAI_API_VERSION=yyyy-mm-dd
