# Firecrawl API Key
# Get your API key from: https://www.firecrawl.dev/
FIRECRAWL_API_KEY=fc-YOUR_API_KEY_HERE

# AI Provider: 'groq' or 'azure'
AI_PROVIDER=groq

# Groq API Key
# Get your API key from: https://console.groq.com/keys
GROQ_API_KEY=gsk_YOUR_GROQ_API_KEY_HERE

# Azure: get your API and configs from: https://portal.azure.com/ or https://ai.azure.com/
AZURE_OPENAI_API_KEY=YOUR_AZURE_OPENAI_API_KEY_HERE

# define ONE OF AZURE_OPENAI_RESOURCE_NAME or AZURE_OPENAI_ENDPOINT
AZURE_OPENAI_RESOURCE_NAME=YOUR_AZURE_OPENAI_RESOURCE_NAME
# if not default $AZURE_OPENAI_RESOURCE_NAME.openai.azure.com/...
AZURE_OPENAI_ENDPOINT=https://YOUR-AZURE-RESOURCE.cognitiveservices.azure.com/openai

AZURE_OPENAI_DEPLOYMENT_NAME=YOUR_AZURE_OPENAI_DEPLOYMENT_NAME
AZURE_OPENAI_API_VERSION=yyyy-mm-dd
